body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-header {
    font-size: 32px;
}

.game-types {
    font-size: 24px;
}

.games {
    font-size: 28px;
    font-weight: bold;
}